# Node / Expo
node_modules/
.expo/
dist/
web-build/
.expo-shared/

# Logs
npm-debug.*
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Temp files
~$*
